<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>document</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>

<body style="background-color:yellow;background-repeat:no-repeat">

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid" style='padding-left:30px'>
      <a class="navbar-brand" href="#">shaukat</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item" style='padding-left:30px'>
            <a class="nav-link" href="/about">about</a>
          </li>
          <li class="nav-item" style='padding-left:30px'>
            <a class="nav-link" href="/skills">skills</a>
          </li>
          <li class="nav-item" style='padding-left:30px'>
            <a class="nav-link" href="/contact">contact</a>
          </li>


          <form class="d-flex" role="search" style='margin-left:550px'>
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
      </div>
    </div>
  </nav>
  <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="/static/image/winter.jpg" class="d-block w-100" alt="..." height='500'>
      </div>
        <div class="carousel-item">
          <img src="/static/image/tree1.jpg" class="d-block w-100" alt="..."height='500'>
      </div>
      <div class="carousel-item">
        <img src="/static/image/door.jpg" class="d-block w-100" alt="..." height='500'>
      </div>
        <div class="carousel-item">
          <img src="/static/image/doll.jpg" class="d-block w-100" alt="..." height='500'>
        </div>
          <div class="carousel-item">
            <img src="/static/image/night.jpg" class="d-block w-100" alt="..." height='500'>
          </div>
            <div class="carousel-item">
              <img src="/static/image/session.jpg" class="d-block w-100" alt="..." height='500'>
            </div>
              <div class="carousel-item">
                <img src="/static/image/compu1.avif" class="d-block w-100" alt="..." height='400'>
                </div>
                <div class="carousel-item">
                  <img src="/static/image/bridge.webp" class="d-block w-100" alt="..." height='400'>
                </div>
                  <div class="carousel-item">
                    <img src="/static/image/comp.jpeg" class="d-block w-100" alt="..."height='450'>
                  </div>
                    <div class="carousel-item">
                      <img src="/static/image/manydoc.jpg" class="d-block w-100" alt="..."height='450'>
                    </div>
                      <div class="carousel-item">
                        <img src="/static/image/office.avif" class="d-block w-100" alt="..."height='450'>
                </div>
                <div class="carousel-item">
                  <img src="/static/image/lady.jpg" class="d-block w-100" alt="..." height='500'>
                </div> 
                <div class="carousel-item">
                  <img src="/static/image/computer.jpg" class="d-block w-100" alt="..." height='500'>
                </div>
                <div class="carousel-item">
                  <img src="/static/image/doll.jpg" class="d-block w-100" alt="..." height='500'>
                </div>
              </div>
            </div>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
              integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
              crossorigin="anonymous"></script>
            <main>
              <h1 class="visually-hidden">Information</h1>

              <div class="px-4 py-5 my-5 text-center">
                <img class="d-block mx-auto mb-4" src="/static/image/shaukat2.jpg" alt="" width="500" height="600">
                <h1 class="display-5 fw-bold text-body-emphasis">Introduction</h1>
                <div class="col-lg-6 mx-auto">
                  <p class="lead mb-4">Good morning to all of you.I would like to describe first of all my introduction
                    my name is shaukat ali live in-Gopalganj from-bihar currently live in beta-1, Greater noida my
                    acadimc qualification. I have done 10 bihar secondry
                    eductaion boar patna and 10+2 senior secondry board patna. I am purshing btech iimt college
                    regarding.my branch is informationtechnology final year student.my skills are html,css
                    ,javascript(basic),c-language,data structure this time is i am learning is
                    python. i am intrest in coding. I want be software developer. my hobbies are plying cricket and
                    listing music, watching movie.This is all about sssmy introduction.thanku you.</p>

                </div>
              </div>

              <div class="b-example-divider"></div>

              <div class="px-4 pt-5 my-5 text-center border-bottom">
                <h1 class="IIMT COLLEGE"></h1>
                <div class="col-lg-6 mx-auto">
                  <p class="lead mb-4">IIMT Group of Colleges established in the year 1994. Since its inception, the group has grown leaps & bounds and achieved 
                    exemplary recognition from the Industry & Academia. At IIMT, we are committed to provide a value driven culture along with creating a professional 
                    environment.style="background-image:url('/static/image/grad1.jpeg');background-repeat:no-repeat"></p>
                </div>
                <div class="overflow-hidden" style="max-height: 30vh;">
                  <div class="container px-5">
                    <img src="/static/image/iimt-1.jpeg" class="img-fluid border rounded-3 shadow-lg mb-4" alt="Example image"
                      width="600" height="800" loading="lazy">
                  </div>
                </div>
              </div>

              <div class="b-example-divider"></div>

              <div class="container col-xxl-8 px-4 py-5">
                <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
                  <div class="col-10 col-sm-8 col-lg-6">
                    <img src="/static/image/iimt4.webp" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes"
                      width="800" height="900" loading="lazy">
                  </div>
                  <div class="col-lg-6">
                    <h1 class="display-5 fw-bold lh-1 text-body-emphasis mb-3"IIMT COLLEGE IN SARABHAI HALL>
                    </h1>
                    <p class="lead">Established in 2016, IIMT University, Meerut has successfully created unique systems for harboring a student-centric
                       environment where learning unfolds through a strong academic structure, fundamental teaching methodologies, persistent research,
                        and innovation. It is rated among the best private university in north India and among the top 10 universities in UP. 
                        IIMT University has a rich legacy in the field of education and exemplary recognition in corporate, academia, 
                        and the public at large. From the world-renowned Blackboard LMS to high-speed internet access all around the campus,
                         we are driven by technology. All-round quality is assured through technology-driven professional management of the University.

                      IIMT University is recognized by University Grants Commission (UGC), a statutory body of the Government of India established for
                       the coordination, determination, and maintenance of standards of university education in India.
                      
                      Educational success for all the IIMT students is ensured by providing quality learning by experienced and knowledgeable faculty
                       members who are equipped with an effective, evidence-based teaching approach, that upholds the high teaching standards through 
                       strategic professional development at all levels. IIMT University, Meerut believes in all-inclusive learning strategies involving 
                       s  everal innovative teaching approaches that deal with the needs of students from diverse backgrounds, learning styles, and abilities..</p>
                  </div>
                </div>
              </div>

              <div class="b-example-divider"></div>

              <div class="container col-xl-10 col-xxl-8 px-4 py-5">
                <div class="row align-items-center g-lg-5 py-5">
                  <div class="col-lg-7 text-center text-lg-start">
                    <h1 class="iimt campus">IIMT COLLEGE OF ENGINEERING
                    </h1>
                    <p class="col-lg-10 fs-4">IIMT Group of Colleges, Greater Noida has been ranked 5th amongst the top 20 emerging B-Schools of India in All India
                       B-School Survey 2022.
                       IIMT Group of Colleges, Greater Noida is also ranked 5th among the best-emerging B-schools in India in 2022.</p>
                  </div>
                  <div class="col-md-10 mx-auto col-lg-5">
                    <form class="p-4 p-md-5 border rounded-3 bg-body-sky">
                      <div class="form-floating mb-3">
                        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                        <label for="floatingInput">Email address</label>
                      </div>
                      <div class="form-floating mb-3">
                        <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                        <label for="floatingPassword">Password</label>
                      </div>
                      <div class="checkbox mb-3">
                        <label>
                          <input type="checkbox" value="remember-me"> Remember me
                        </label>
                      </div>
                      <button class="w-100 btn btn-lg btn-primary" type="submit">Sign up</button>
                      <hr class="my-4">
                      <small class="text-body-secondary">By clicking Sign up, you agree to the terms of use.</small>
                    </form>
                  </div>
                </div>
              </div>

              <div class="b-example-divider"></div>

              <div class="container my-5">
                <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
                  <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
                    <h1 class="display-4 fw-bold lh-1 text-body-emphasis">IIMT COLLEGE OF ENGINEERING
                    </h1>
                    <p class="lead">IIMT Group of Colleges, Greater Noida has been ranked 5th amongst the top 20 emerging B-Schools of India in All India
                       B-School Survey 2022.
                       IIMT Group of Colleges, Greater Noida is also ranked 5th among the best-emerging B-schools in India in 2022..</p>
                    </div>
                  <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-lg">
                    <img class="rounded-lg-3" src="/static/image/iimt-college.jpg" alt="" width="720">
                  </div>
                </div>
              </div>
              <div class="b-example-divider">
              </div>
              <div class="bg-dark text-secondary px-4 py-5 text-center">
                <div class="py-5">
                  <h1 class="display-5 fw-bold text-white">IIMT GROUP OF COLLEGE</h1>
                  <div class="col-lg-6 mx-auto">
                    <p class="fs-5 mb-4">IIMT Group of Colleges, Greater Noida has been ranked 5th amongst the top 20 emerging B-Schools of India
                       in All India B-School Survey 2022. IIMT Group of Colleges,
                       Greater Noida is also ranked 5th among the best-emerging B-schools in India in 2022.</p>
                  </div>
                </div>
              </div>

              <div class="b-example-divider mb-0"></div>
            </main>
            <script src="/docs/5.3/dist/js/bootstrap.bundle.min.js"
              integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
              crossorigin="anonymous"></script>

</body>

</html>